<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
        <md-dialog-content class="padding-24">

            <md-checkbox class="md-primary display-block" palette-background="swiss-life-grey:400" fg-only ng-click="vm.close()" ng-model="vm.formData.PCSelfManagementPolicyHolderConfirms"
                         aria-label="{{vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.INVESTMENT_STRATEGY_FIT}}">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.INVESTMENT_STRATEGY_FIT"></span><span class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.INVESTMENT_STRATEGY_FIT_LOCAL"></span>
            </md-checkbox>
           
        </md-dialog-content>
</md-dialog> 

