<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
    
    <md-dialog-content class="padding-24">
        <h4 class="font-size-fixed-18 margin-bottom-16 margin-bottom-24 text-bold">
            <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.LABEL_ADDITIONAL"></span><span class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.LABEL_ADDITIONAL_LOCAL"></span>
        </h4>

        <div class="margin-left-16">
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.DIRECT_INVESTMENTS"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.ALTERNATIVE_INVESTMENTS"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.FUTURES_OPTIONS"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.ALL_PORTFOLIO"></span>
            </p>
        </div>

        <!-- <div class="md-block">
            <md-checkbox ng-change="vm.checkconfirm()"
                         name="the_policyholder_confirms_that_he_accepts" ng-model="vm.confirm"
                         class="md-warn text-bold" palette-background="swiss-life-black:900" fg-only
                         aria-label="vm.localizationobj.app_process_charges.cb_the_policyholder_confirms">
            </md-checkbox>
        </div> -->

        <div>
            <div class="margin-left-16">
                <p class="margin-0 margin-bottom-16">
                    <span  class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.DIRECT_INVESTMENTS_LOCAL"></span>
                </p>
                <p class="margin-0 margin-bottom-16">
                    <span  class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.ALTERNATIVE_INVESTMENTS_LOCAL"></span>
                </p>
                <p class="margin-0 margin-bottom-16">
                    <span  class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.FUTURES_OPTIONS_LOCAL"></span>
                </p>
                <p class="margin-0 margin-bottom-16">
                    <span  class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.ALL_PORTFOLIO_LOCAL"></span>
                </p>
            </div>

            <div class="md-block">
                <md-checkbox ng-change="vm.checkConfirm()"
                             name="THE_POLICYHOLDER_CONFIRMS_THAT_HE_ACCEPTS" ng-model="vm.confirm"
                             class="md-warn text-bold" palette-background="swiss-life-black:900" fg-only
                             aria-label="vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.CB_THE_POLICYHOLDER_CONFIRMS_LOCAL">
                    <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.CB_THE_POLICYHOLDER_CONFIRMS"></span><span  class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.CB_THE_POLICYHOLDER_CONFIRMS_LOCAL"></span>
                </md-checkbox>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
