<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
    <!-- <md-toolbar>
            <div layout="row" layout-align="space-between center" class="height-64 padding-h-24 padding-v-20 border-bottom-1" palette-background="swiss-life-grey:200" bd-only>
                <h2 class="text-bold margin-0 font-size-fixed-20 line-height-fixed-24"></h2>
                <md-button class="md-icon-button width-24 height-24 margin-0 padding-0" ng-click="vm.cancel()">
                    <md-icon class="font-size-fixed-24 line-height-fixed-24 " md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar> -->
        <md-dialog-content class="padding-24">
            <!-- <div class="md-block">
                <md-checkbox ng-change="vm.checkConfirm()" name="THE_POLICYHOLDER_CONFIRMS_THAT_HE_ACCEPTS" ng-model="vm.confirm" class="md-warn text-bold" palette-background="swiss-life-black:900" fg-only
                                aria-label="vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.THE_POLICYHOLDER_DECLARES">
                </md-checkbox>
            </div> -->

            <div class="md-block">
                <md-checkbox ng-change="vm.checkConfirm()" name="THE_POLICYHOLDER_CONFIRMS_THAT_HE_ACCEPTS" ng-model="vm.confirm" class="md-warn text-bold" palette-background="swiss-life-black:900" fg-only
                             aria-label="vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.THE_POLICYHOLDER_DECLARES_LOCAL">

                             <span ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.THE_POLICYHOLDER_DECLARES"></span>               
                             <span ng-if="vm.market==='Sweden' || vm.market==='Finland'" class="slpc-workflow-dual-language" ng-bind="::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.THE_POLICYHOLDER_DECLARES_LOCAL"></span>
                </md-checkbox>
            </div>
        </md-dialog-content>
        <!-- <md-dialog-actions layout="row" class="padding-h-20 padding-bottom-10">
            <span flex></span>
            <md-button aria-label="No" class="text-defaultcase"
                       ng-click="vm.cancel()">{{::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.RADIO_No}}</md-button>

            <md-button aria-label="Yes" class="padding-h-20 text-defaultcase" ng-click="vm.confirm()">{{::vm.localizationObj.APP_PROCESS_CHARGES_V2.NEW.RADIO_YES}}</md-button>
        </md-dialog-actions> -->
</md-dialog>
