<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
    <md-dialog-content class="padding-24">
        <div class="md-block">
            <md-checkbox ng-change="vm.checkConfirm()" name="THE_POLICYHOLDER_CONFIRMS_THAT_HE_ACCEPTS" ng-model="vm.confirm" class="md-warn text-bold" palette-background="swiss-life-grey:900" fg-only
                         aria-label="vm.localizationObj.SWITCH_FR_FAS_DESIGNATION_1ST.APP_PROCESS_CHARGES.THE_POLICYHOLDER_DECLARES">
                <span ng-bind="::vm.localizationObj.SWITCH_FR_FAS_DESIGNATION_1ST.APP_PROCESS_CHARGES.THE_POLICYHOLDER_DECLARES"></span>
            </md-checkbox>
        </div>
    </md-dialog-content>
</md-dialog>
