<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
        <md-dialog-content class="padding-24">
            <p class="font-size-fixed-18" ng-bind="::vm.localizationObj.SWITCH_FR_CHARGES_4TH.NEW.DEFINED_INFO"></p>
        </md-dialog-content>
         <md-dialog-actions layout="row" class="padding-h-20 padding-bottom-10">
            <span flex></span>
            <md-button aria-label="Close" class="padding-h-20 text-defaultcase" ng-click="vm.close()" ng-bind="::vm.localizationObj.SWITCH_FR_CHARGES_4TH.NEW.CLOSE"></md-button>
        </md-dialog-actions> 
</md-dialog> 

