<md-dialog class="mobile-fullwidth-dialog" ng-class="{'width-700': vm.$mdMedia('gt-xs')}">
    <md-dialog-content class="padding-24">
        <h4 class="font-size-fixed-18 margin-bottom-16 margin-bottom-24 text-bold">
            <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.PROFESSIONAL_INVESTOR"></span>
        </h4>

        <div class="margin-left-16">
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.SUBSCRIBER_HEREBY_EXPRESSLY"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.IN_ORDER_TO"></span>
            </p>

            <ul class="slpc-unorder-list">
                <li ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.IN_ORDER_TO_LIST.A"></li>
                <li ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.IN_ORDER_TO_LIST.B"></li>
                <li ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.IN_ORDER_TO_LIST.C"></li>
            </ul>

            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_WISHES"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_OBLIGED"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_INFORMED"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_CONFIRMS"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_ADDITIONAL_NOTES"></span>
            </p>
            <p class="margin-0 margin-bottom-16">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_DECLARES"></span>
            </p>
        </div>

        <div class="md-block">
            <md-checkbox ng-change="vm.checkConfirm()"
                         name="THE_POLICYHOLDER_CONFIRMS_THAT_HE_ACCEPTS" ng-model="vm.confirm"
                         class="md-warn text-bold" palette-background="swiss-life-grey:900" fg-only
                         aria-label="vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_ACCEPTS">
                <span ng-bind="::vm.localizationObj.APP_PROCESS_SPECIALISED_VTWO.APP_PROCESS_ALLOCATION.POLICYHOLDER_ACCEPTS"></span>
            </md-checkbox>
        </div>  
    </md-dialog-content>
</md-dialog>
